<h1>
  Here is your order details
</h1>

  <div class="form-group">
    Order Number
  </div>
  <div>
    <%= order.awb_num %>
  </div>
  <div class="form-group">
    Customer Name
  </div>
  <div>
    <%= order.customer_name %>
  </div>
  <div class="form-group">
    Adderess Line 1
  </div>
  <div>
    <%= order.address_line1 %>
  </div>
  <div class="form-group">
    Address Line 2
  </div>
  <div>
    <%= order.address_line2 %>
  </div>
