<div class="row">
  <div class="col-sm-6 col-lg-3">
    <div class="widget-simple-chart text-right card-box sample">
        <div class="circliful-chart circliful" data-dimension="90" data-text="35%" data-width="5" data-fontsize="14" data-percent="35" data-fgcolor="#5fbeaa" data-bgcolor="#ebeff2" style="width: 90px;"><span class="circle-text" style="line-height: 90px; font-size: 14px;">35%</span><canvas width="90" height="90"></canvas></div>
        <h3 class="text-success counter m-t-10">2562</h3>
        <p class="text-muted text-nowrap m-b-10">Total Orders today</p>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="widget-simple-chart text-right card-box">
        <div class="circliful-chart circliful" data-dimension="90" data-text="35%" data-width="5" data-fontsize="14" data-percent="35" data-fgcolor="#5fbeaa" data-bgcolor="#ebeff2" style="width: 90px;"><span class="circle-text" style="line-height: 90px; font-size: 14px;">35%</span><canvas width="90" height="90"></canvas></div>
        <h3 class="text-success counter m-t-10">2562</h3>
        <p class="text-muted text-nowrap m-b-10">Total Pickup today</p>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="widget-simple-chart text-right card-box">
        <div class="circliful-chart circliful" data-dimension="90" data-text="35%" data-width="5" data-fontsize="14" data-percent="35" data-fgcolor="#5fbeaa" data-bgcolor="#ebeff2" style="width: 90px;"><span class="circle-text" style="line-height: 90px; font-size: 14px;">35%</span><canvas width="90" height="90"></canvas></div>
        <h3 class="text-success counter m-t-10">2562</h3>
        <p class="text-muted text-nowrap m-b-10">Total Orders today</p>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="widget-simple-chart text-right card-box">
        <div class="circliful-chart circliful" data-dimension="90" data-text="35%" data-width="5" data-fontsize="14" data-percent="35" data-fgcolor="#5fbeaa" data-bgcolor="#ebeff2" style="width: 90px;"><span class="circle-text" style="line-height: 90px; font-size: 14px;">35%</span><canvas width="90" height="90"></canvas></div>
        <h3 class="text-success counter m-t-10">2562</h3>
        <p class="text-muted text-nowrap m-b-10">Total PickUps today</p>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="widget-simple-chart text-right card-box">
        <div class="circliful-chart circliful" data-dimension="90" data-text="35%" data-width="5" data-fontsize="14" data-percent="35" data-fgcolor="#5fbeaa" data-bgcolor="#ebeff2" style="width: 90px;"><span class="circle-text" style="line-height: 90px; font-size: 14px;">35%</span><canvas width="90" height="90"></canvas></div>
        <h3 class="text-success counter m-t-10">2562</h3>
        <p class="text-muted text-nowrap m-b-10">Total Cancels today</p>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="widget-simple-chart text-right card-box">
        <div class="circliful-chart circliful" data-dimension="90" data-text="35%" data-width="5" data-fontsize="14" data-percent="35" data-fgcolor="#5fbeaa" data-bgcolor="#ebeff2" style="width: 90px;"><span class="circle-text" style="line-height: 90px; font-size: 14px;">35%</span><canvas width="90" height="90"></canvas></div>
        <h3 class="text-success counter m-t-10">2562</h3>
        <p class="text-muted text-nowrap m-b-10">Total Deliveries today</p>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="widget-simple-chart text-right card-box">
        <div class="circliful-chart circliful" data-dimension="90" data-text="35%" data-width="5" data-fontsize="14" data-percent="35" data-fgcolor="#5fbeaa" data-bgcolor="#ebeff2" style="width: 90px;"><span class="circle-text" style="line-height: 90px; font-size: 14px;">35%</span><canvas width="90" height="90"></canvas></div>
        <h3 class="text-success counter m-t-10">2562</h3>
        <p class="text-muted text-nowrap m-b-10">Total Returns today</p>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="widget-simple-chart text-right card-box">
        <div class="circliful-chart circliful" data-dimension="90" data-text="35%" data-width="5" data-fontsize="14" data-percent="35" data-fgcolor="#5fbeaa" data-bgcolor="#ebeff2" style="width: 90px;"><span class="circle-text" style="line-height: 90px; font-size: 14px;">35%</span><canvas width="90" height="90"></canvas></div>
        <h3 class="text-success counter m-t-10">2562</h3>
        <p class="text-muted text-nowrap m-b-10">Total Sales today</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel-heading">
      <h4 class="panel-title">Branches</h4>
    </div>
    <div class="card-box">
      <ul class="list-unstyled clients-list">
        <li>Medchal<div class="text-success pull-right">200</div></li>
        <li>Ameerpet<div class="text-success pull-right">100</div></li>
        <li>Sr Nagar<div class="text-success pull-right">50</div></li>
        <li>uppal<div class="text-danger pull-right">120</div></li>
        <li>Miya pur<div class="text-danger pull-right">200</div></li>
        <li>Kukatpally &amp; tablet<div class="text-success pull-right">129</div></li>
        <li class="last">Others<div class="text-success pull-right">50</div></li> 
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel-heading">
      <h4 class="panel-title">Clients</h4>
    </div>
    <div class="card-box">
      <ul class="list-unstyled clients-list">
        <li>Dhana Lakshmi<div class="text-success pull-right">120</div></li>
        <li>Flipkart<div class="text-success pull-right">150</div></li>
        <li>Shop Clues<div class="text-success pull-right">180</div></li>
        <li>Ebay<div class="text-danger pull-right">170</div></li>
        <li>Amazon<div class="text-danger pull-right">100</div></li>
        <li>Paytm<div class="text-success pull-right">140</div></li>
        <li class="last">LimeRoad<div class="text-success pull-right">50</div></li> 
      </ul>
    </div>
  </div>
</div>
