<%= javascript_include_tag "dashboard" %>
<div class="row">
  <div class="col-md-12 pl-0">
    <div class="col-md-6 pl-0">
      <h1> DashBoard </h1>
    </div>
  </div>  
</div>
<div class="row">
  <div class="market-updates">
    <div class="col-md-2 market-update-gd">
      <div class="market-update-block clr-block-2">
         <div class="col-md-12 market-update-left">
         <h4 class="c-015682">High Priority</h4>
        <h4 class="c-blue">13,500</h4>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-2 market-update-gd">
      <div class="market-update-block clr-block-1">
        <div class="col-md-12 market-update-left">
        <h4 class="c-015682">Not Attempted</h4>
          <h4 class="c-orange">0</h4>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-2 market-update-gd">
      <div class="market-update-block clr-block-1">
        <div class="col-md-12 market-update-left">
        <h4 class="c-015682">Missing</h4>
          <h4 class="c-red">10</h4>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-2 market-update-gd">
      <div class="market-update-block clr-block-1">
        <div class="col-md-12 market-update-left">
        <h4 class="c-015682">Bag Details</h4>
          <p class="c-015682"> 0 (Return)</p>
          <p class="c-015682"> 0 (Pending)</p>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-2 market-update-gd">
      <div class="market-update-block clr-block-3">
        <div class="col-md-12 market-update-left">
          <h4 class="c-015682">Expected Load</h4>
           <p class="c-015682e">0 (Packages)</p>
           <p class="c-015682e"> 0 (Bags) </p>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-2 market-update-gd">
      <div class="market-update-block clr-block-4">
        <div class="col-md-12 market-update-left">
          <h4 class="c-015682">COD Pending</h4>
          <h4 class="c-green">$ 1,500</h4>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
     <div class="clearfix"> </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 pl-0 pr-0">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> Orders</h3>
        </div>
        <div class="panel-body">
          <div id="container" style="height: 400px"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  
// Make monochrome colors
var pieColors = (function () {
    var colors = [],
        base = Highcharts.getOptions().colors[0],
        i;

    for (i = 0; i < 10; i += 1) {
        // Start out with a darkened base color (negative brighten), and end
        // up with a much brighter color
        colors.push(Highcharts.Color(base).brighten((i - 3) / 7).get());
    }
    return colors;
}());

// Build the chart
Highcharts.chart('container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: ''
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            colors: pieColors,
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b><br>{point.percentage:.1f} %',
                distance: -50,
                filter: {
                    property: 'percentage',
                    operator: '>',
                    value: 4
                }
            }
        }
    },
    series: [{
        name: 'Brands',
        data: [
            { name: 'Completed', y: 56.33 },
            { name: 'Rescheduled', y: 24.03 },
            { name: 'Missing', y: 10.38 },
            { name: 'Mis Route', y: 12 },
            { name: 'PickUp', y: 8 },
            { name: 'Pending', y: 10 }
        ]
    }]
});

</script>

